
@{
    ViewBag.Title = "VisualizarQuestoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content area -->
<div class="content">

     
    <!-- No media -->
    <div class="mb-3 pt-2">
        <h6 class="mb-0 font-weight-semibold">
            Questões armazenadas
        </h6>
        <span class="text-muted d-block">Banco de questões usadas para criação de provas</span>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <!-- Clean blog layout #1 -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title font-weight-semibold">
                        <a href="#" class="text-default">Blog post #1 title</a>
                    </h5>
                </div>

                <div class="card-body">
                    <p class="mb-3">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>

                    <blockquote class="blockquote blockquote-bordered py-2 pl-3 mb-0">
                        <p class="mb-2 font-size-base">When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra.</p>
                        <footer class="blockquote-footer">Jason, <cite title="Source Title">10:39 am</cite></footer>
                    </blockquote>
                </div>

                <div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                    <ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">
                        <li class="list-inline-item">By <a href="#" class="text-muted">Eugene</a></li>
                        <li class="list-inline-item">July 5th, 2016</li>
                        <li class="list-inline-item"><a href="#" class="text-muted">12 comments</a></li>
                    </ul>

                    <a href="#" class="text-muted"><i class="icon-heart6 text-pink mr-2"></i> 281</a>
                </div>
            </div>
            <!-- /clean blog layout #1 -->

        </div>

      
    </div>

 
    <!-- /no media -->
   

</div>
<!-- /content area -->
