@{
    ViewBag.Title = "CadastrarUsuario";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">

    <!-- Registration form -->
    <form class="login-form">
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Crie sua conta</h5>
                    <span class="d-block text-muted">Todos os campos são obrigatórios!</span>
                </div>

                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">Seus dados.</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" id="txtNomeCompleto" placeholder="Nome completo">
                    <div class="form-control-feedback">
                        <i class="icon-user-check text-muted"></i>
                    </div>
                   
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" id="txtEmail" placeholder="Seu email" >
                    <div class="form-control-feedback">
                        <i class="icon-mention text-muted"></i>
                    </div>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="password" class="form-control" id="txtSenha" placeholder="Senha" autocomplete="on">
                    <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                    </div>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="password" class="form-control" id="txtRepetirSenha" placeholder="Repetir Senha" autocomplete="on">
                    <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                    </div>
                </div>

                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">Dados Pessoais</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" id="txtEndereco" placeholder="Seu endereço">
                    <div class="form-control-feedback">
                        <i class="icon-mention text-muted"></i>
                    </div>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" id="txtIdade" placeholder="Sua idade">
                    <div class="form-control-feedback">
                        <i class="icon-mention text-muted"></i>
                    </div>
                </div>

                <input type="button" class="btn bg-teal btn-block btn-lg" value="SALVAR" id="btnSalvar">
            </div>
        </div>
    </form>
    <!-- /registration form -->

</div>
<!-- /content area -->
